@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;
<div class="container">
<br>
<br>
<div class="column">
  <div class=row>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;  
    <div class="card border-info mb-3" style="max-width: 40rem;">
      <div class="card-header">
        <h1>Machine Specs</h1>
      </div>
      <div class="card-body">
        <em><h5 class="text-muted">@Html.DisplayNameFor(model => model.MachineName):</h5></em><h2 class="text-secondary"> @Html.DisplayFor(model => model.MachineName)</h2>
        <br>
        <em><h5 class="text-muted">@Html.DisplayNameFor(model => model.InstallDate):</h5></em><h3> @Html.DisplayFor(model => model.InstallDate)</h3>
        <em><h6 class="text-muted">@Html.DisplayNameFor(model => model.MachineDetails):</h6></em><h4> @Html.DisplayFor(model => model.MachineDetails)</h4>
          @if(@Model.JoinEntities.Count == 0)
          {
          <p>This machine has not been assigned to any engineers</p>
          }
          else
          {
          <hr />
          <em><h4 class="text-muted">Engineers assigned to this machine:</h4></em>
          <ul>
          @foreach(var join in Model.JoinEntities)
          {
            <li><h4>@join.Engineer.Name</h4></li>
          }
          </ul>
          }
      </div>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="col-md-3">
    <br>
    <button type="button" class="btn btn-info" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Update Machine Specs", "Edit", new { id = Model.MachineId })</button>
    <br>
    <br>
    <button type="button" class="btn btn-info" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Decomission Machine", "Delete", new { id = Model.MachineId })</button>
    <br>
    <br>
    <hr>
    <button type="button" class="btn btn-info" style="max-height: 5rem; max-width: 20rem;">@Html.ActionLink("Back to Machine Inventory", "Index")</button>
    </div> 
    
  </div>
</div>