@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<div class="container">
<br>
<br>
<div class="column">
  <div class=row>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;  
    <div class="card border-primary mb-3" style="max-width: 40rem;">
      <div class="card-header">
        <h2>Hire New Engineer</h2>
      </div>
      <div class="card-body">
        @using (Html.BeginForm())
        {
          @Html.LabelFor(model => model.Name)
          @Html.TextBoxFor(model => model.Name)
          <br>
          <br>
          @Html.LabelFor(model => model.Specialty)
          @Html.TextBoxFor(model => model.Specialty)
          <br>
          <br>
          @Html.LabelFor(model => model.HireDate)
          @Html.TextBoxFor(model => model.HireDate)
          <br>
          <br>
          @Html.Label("Assign Machine")
          @Html.DropDownList("MachineId")
          <br>
          <br>
          <hr>
          <input type="submit" value="Hire This Engineer" class="btn btn-primary" />
        }
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-3">
    <br>
    <button type="button" class="btn btn-primary" style="max-height: 5rem; max-width: 20rem;">@Html.ActionLink("Show All Current Engineers", "Index")</button>
    <br>
    <br>
    <hr>
    <button type="button" class="btn btn-primary" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Home", "Index", "Home")</button>
    </div>   
  </div>
</div>