@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer
<div class="container">
<br>
<br>
<div class="column">
  <div class=row>
  &nbsp;
  &nbsp;
  &nbsp;
  &nbsp;  
    <div class="card border-primary mb-3" style="max-width: 40rem;">
      <div class="card-header">
       <h2>Engineer Details</h2>
      </div>
      <div class="card-body">
        <h5>@Html.DisplayNameFor(model => model.Name):</h5><h2> @Html.DisplayFor(model => model.Name)</h2>
        <br>
        <h5>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h4>
        <h6>@Html.DisplayNameFor(model => model.HireDate): @Html.DisplayFor(model => model.HireDate)</h5>
          @if (@Model.JoinEntities.Count == 0)
          {
            <p>This Engineer has not been assigned to any machines</p>
          }
          else
          {
          <hr />
          <h4>Machines this Engineer is assigned to:</h4>
          <ul>
          @foreach (var join in Model.JoinEntities)
            {
              <li>@join.Machine.MachineName</li>
              @using (Html.BeginForm("DeleteMachine", "Engineers"))
              {
                @Html.Hidden("joinId", @join.EngineerMachineId)

                <input type="submit" value="Delete" class="btn btn-primary"/>
                <br>
              }
              <br>
            }
            </ul>
            }
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-3">
    <br>
    <button type="button" class="btn btn-primary" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Assign a Machine", "AddMachine", new { id = Model.EngineerId })</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Reassign Engineer", "Edit", new { id = Model.EngineerId })</button>
    <br>
    <br>
    <button type="button" class="btn btn-primary" style="max-height: 5rem; max-width: 15rem;">@Html.ActionLink("Terminate Engineer", "Delete", new { id = Model.EngineerId })</button>
    <br>
    <br>
    <hr>
    <button type="button" class="btn btn-primary" style="max-height: 5rem; max-width: 20rem;">@Html.ActionLink("Back to Roster", "Index")</button>
    </div> 
  </div>
</div>